* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  background-color: #fff;
  transform-origin: center;
  background-position: top min(-2.5rem, -6%) center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 2rem;;

}

body.no-scroll {
  overflow: hidden;
}

p {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
